.u-section-1 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-1 .u-text-1 {
  margin: 200px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 23px auto 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 0px 20% auto 0px;
  letter-spacing: 1px;
  padding: 34px 30px;
}

@media (max-width: 1080px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

.margen .u-text-1{
  margin: 400px auto 0 0;
}

.form1 .inputBox1
{
    width: 100%;
    text-align: left;
    margin-top: 1px;
}

.form1 .inputBox1 input
{
    width: 86%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #1b1818;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);


}
.form1 .inputBox1 input[type="submit"]{
    background: #ffffff;
    color: #666;
    max-width: 200px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600px;
}

.form1 .inputBox1 input[type="submit"]:hover{
    background: #2082dd;
    color: #ffffff;
}

.form1 .inputBox1
{
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

