@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


/* ///////////////////////////////////////////////////// */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppings',sans-serif;
}
 
body {
    overflow-y: scroll;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#f1f4f9,#dff1ff);
    position: relative; /* Añade posición relativa para que los elementos absolutos dentro de la sección se posicionen correctamente */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

section .color{
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #212b3d;
}

section .color:nth-child(2){
    top: 150px;
    left: -125px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

section .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #285d69;
}

.box{
    position: relative;
}

.box .square{
    position: absolute;
    backdrop-filter:blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    border-radius: 10px; 
    animation:animate 10s linear infinite;
    animation-delay:calc(-1s * var(--i));
}

@keyframes animate {
    0%,100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1){
    top: -50px;
    right: -95px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2){
    top: 150px;
    left: -115px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3){
    bottom: 50px;
    right: -78px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4){
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5){
    top: -80px;
    left: 100px;
    width: 60px;
    height: 60px;
}

.box .square:nth-child(6){
    top: 70px;
    left: 150px;
    width: 80px;
    height: 80px;
}

.container {
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}




.form h2{
    position: relative;
    color: #000000;
    font-size: 3vw; /* Usa unidades de viewport width (vw) para hacer el título responsivo */
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.form .inputBox
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}



.form .inputBox input
{
    width: 86%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #1b1818;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.form .inputBox input::placeholder{
    color: #0a0505;
}

.form .inputBox input[type="submit"]{
    background: #ffffff;
    color: #666;
    max-width: 200px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600px;
}

.form .inputBox input[type="submit"]:hover{
    background: #2082dd;
    color: #ffffff;
}

.forget{
    margin-top: 5px;
    color: #030202;
}

.forget a{
    color: #2082dd;
    font-weight: 600;
}


.container-div1 {
    width: 90vw;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.btn {
    margin-top: 20px;
}
/* Responsive typography */
h2 {
    font-size: 5vw;
}
th, td {
    font-size: 4vw;
}
input[type="submit"] {
    font-size: 4vw;
}

/* Media queries for larger screens */
@media (min-width: 600px) {
    h2 {
        font-size: 3vw;
    }
    th, td {
        font-size: 2.5vw;
    }
    input[type="submit"] {
        font-size: 2.5vw;
    }
}
@media (min-width: 1024px) {
    h2 {
        font-size: 1vw;
    }
    th, td {
        font-size: 1.0vw;
    }
    input[type="submit"] {
        font-size: 1.0vw;
    }
}

/* css de volver */
.form1 .inputBox1
{
    width: 100%;
    text-align: left;
    margin-top: 1px;
}

/* css de volver */
.form1 .inputBox1 input
{
    width: 86%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #1b1818;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);


}
/* css de volver */
.form1 .inputBox1 input[type="submit"]{
    background: #868686;
    color: #000000;
    max-width: 200px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600px;
}
/* css de volver */
.form1 .inputBox1 input[type="submit"]:hover{
    background: #2082dd;
    color: #ffffff;
}

.form1 .inputBox1
{
    width: 100%;
    text-align: left;
    margin-top: 20px;
}