.container-div1 {
    width: 60vw;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.admin-form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
h2 {
    font-size: 5vw;
}
th, td {
    font-size: 4vw;
}
input[type="submit"] {
    font-size: 4vw;
}
@media (min-width: 600px) {
    h2 {
        font-size: 3vw;
    }
    th, td {
        font-size: 2.5vw;
    }
    input[type="submit"] {
        font-size: 2.5vw;
    }
}
@media (min-width: 1024px) {
    h2 {
        font-size: 2vw;
    }
    th, td {
        font-size: 1.0vw;
    }
    input[type="submit"] {
        font-size: 1.0vw;
    }
}